In [1]:
import pandas as pd

In [14]:
dolar_compra = pd.read_csv('/home/rafael/Downloads/ipeadata-dolar-compra.csv', 
                           header=0, sep=',', parse_dates=[0,], index_col=0)

In [15]:
dolar_compra.head()

,Taxa de câmbio - R$ / US$ - comercial - compra - média - R$ - Banco Central do Brasil,Sistema Gerenciador de Séries Temporais (Bacen Outras/SGS) - GM366_ERC366,Unnamed: 3
Data,,,
1985-02-01,1.152000e-09,NaN,NaN
1985-03-01,1.152000e-09,NaN,NaN
1985-04-01,1.152000e-09,NaN,NaN
1985-05-01,NaN,NaN,NaN
1985-06-01,NaN,NaN,NaN

In [16]:
dolar_venda = pd.read_csv('/home/rafael/Downloads/ipeadata-dolar-venda.csv', 
                           header=0, sep=',', parse_dates=[0,], index_col=0)

In [17]:
dolar_venda.head()

,Taxa de câmbio - R$ / US$ - comercial - venda - média - R$ - Banco Central do Brasil,Sistema Gerenciador de Séries Temporais (Bacen Outras/SGS) - GM366_ERV366,Unnamed: 3
Data,,,
1985-02-01,1.157818e-09,NaN,NaN
1985-03-01,1.157818e-09,NaN,NaN
1985-04-01,1.157818e-09,NaN,NaN
1985-05-01,NaN,NaN,NaN
1985-06-01,NaN,NaN,NaN

In [18]:
df = pd.concat([dolar_compra, dolar_venda], axis=1, join='inner')

In [19]:
df.head()

,Taxa de câmbio - R$ / US$ - comercial - compra - média - R$ - Banco Central do Brasil,Sistema Gerenciador de Séries Temporais (Bacen Outras/SGS) - GM366_ERC366,Unnamed: 3,Taxa de câmbio - R$ / US$ - comercial - venda - média - R$ - Banco Central do Brasil,Sistema Gerenciador de Séries Temporais (Bacen Outras/SGS) - GM366_ERV366,Unnamed: 3
Data,,,,,,
1985-02-01,1.152000e-09,NaN,NaN,1.157818e-09,NaN,NaN
1985-03-01,1.152000e-09,NaN,NaN,1.157818e-09,NaN,NaN
1985-04-01,1.152000e-09,NaN,NaN,1.157818e-09,NaN,NaN
1985-05-01,NaN,NaN,NaN,NaN,NaN,NaN
1985-06-01,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df.drop(df.columns[[1, 2, 4,5]], axis=1, inplace=True)

In [26]:
df.head()

,Taxa de câmbio - R$ / US$ - comercial - compra - média - R$ - Banco Central do Brasil,Taxa de câmbio - R$ / US$ - comercial - venda - média - R$ - Banco Central do Brasil
Data,,
1985-02-01,1.152000e-09,1.157818e-09
1985-03-01,1.152000e-09,1.157818e-09
1985-04-01,1.152000e-09,1.157818e-09
1985-05-01,NaN,NaN
1985-06-01,NaN,NaN

In [27]:
df.columns = ['Compra', 'Venda']

In [28]:
df.head()

                  Compra         Venda
Data
1985-02-01  1.152000e-09  1.157818e-09
1985-03-01  1.152000e-09  1.157818e-09
1985-04-01  1.152000e-09  1.157818e-09
1985-05-01           NaN           NaN
1985-06-01           NaN           NaN

In [30]:
df = df.dropna()

In [31]:
df.head()

                  Compra         Venda
Data
1985-02-01  1.152000e-09  1.157818e-09
1985-03-01  1.152000e-09  1.157818e-09
1985-04-01  1.152000e-09  1.157818e-09
1985-07-01  1.173818e-09  1.179636e-09
1985-08-01  1.173818e-09  1.179636e-09

In [35]:
df = df[df.index > '03/01/1994']

In [37]:
df = df.sort_index()

In [38]:
df.head()

              Compra     Venda
Data
1994-03-02  0.176471  0.176475
1994-03-03  0.242725  0.242729
1994-03-05  0.489135  0.489142
1994-03-06  0.706004  0.706011
1994-03-08  0.908000  0.910000

In [39]:
df.tail()

            Compra   Venda
Data
2017-11-05  3.1553  3.1559
2017-12-01  3.1655  3.1661
2017-12-04  3.1457  3.1463
2017-12-05  3.1284  3.1290
2017-12-06  3.2980  3.2986

In [40]:
df.to_csv('dolar_compra_venda.csv', sep=';', encoding='utf-8')

In [52]:
%matplotlib inline
df[df.index > '2017-06-01']

            Compra   Venda
Data
2017-06-02  3.1173  3.1179
2017-06-03  3.1105  3.1111
2017-06-04  3.1154  3.1160
2017-06-06  3.2811  3.2817
2017-06-13  3.3202  3.3208
2017-07-02  3.1298  3.1304
2017-07-03  3.1179  3.1185
2017-07-04  3.1296  3.1302
2017-07-06  3.2741  3.2747
2017-08-02  3.1248  3.1255
2017-08-03  3.1471  3.1477
2017-08-05  3.1932  3.1938
2017-08-06  3.2832  3.2838
2017-09-01  3.2091  3.2097
2017-09-02  3.1179  3.1185
2017-09-03  3.1729  3.1735
2017-09-05  3.1851  3.1857
2017-09-06  3.2734  3.2740
2017-10-01  3.1912  3.1918
2017-10-02  3.1149  3.1155
2017-10-03  3.1617  3.1623
2017-10-04  3.1403  3.1409
2017-10-05  3.1600  3.1606
2017-11-01  3.2148  3.2154
2017-11-04  3.1418  3.1424
2017-11-05  3.1553  3.1559
2017-12-01  3.1655  3.1661
2017-12-04  3.1457  3.1463
2017-12-05  3.1284  3.1290
2017-12-06  3.2980  3.2986

In [53]:
import requests

In [54]:
url = 'https://br.investing.com/instruments/HistoricalDataAjax'

In [55]:
param = {'action': 'historical_data', 'curr_id':2103, 'st_date': '14/04/2017', 'end_data': '14/06/2017', 'internal_sec': 'Daily'}

In [56]:
resp = requests.post(url, param)

In [57]:
resp

In [58]:
resp.content

b'\n<?xml version="1.0" encoding="utf-8"?>\n<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"\n "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">\n<html>\n  <head>\n    <title>403 You are banned from this site.  Please contact via a different client configuration if you believe that this is a mistake.</title>\n  </head>\n  <body>\n    <h1>Error 403 You are banned from this site.  Please contact via a different client configuration if you believe that this is a mistake.</h1>\n    <p>You are banned from this site.  Please contact via a different client configuration if you believe that this is a mistake.</p>\n    <h3>Guru Meditation:</h3>\n    <p>XID: 1723125499</p>\n    <hr>\n    <p>Varnish cache server</p>\n  </body>\n</html>\n'

In [63]:
import pandas_datareader.data as web

In [62]:
web.get_data_yahoo('USD/BRL')

RemoteDataError: Unable to read URL: http://ichart.finance.yahoo.com/table.csv?c=2010&s=USD%2FBRL&b=1&g=d&a=0&f=2017&ignore=.csv&e=14&d=5

In [65]:
from datetime import date

web.get_oanda_currency_historical_rates('USDBRL', end=date.today())

ValueError: Unknown string format

In [66]:
from yahoo_finance import Currency

In [67]:
curr = Currency('USDBRL')

In [68]:
curr.data_set

{'Ask': '3.3175',
 'Bid': '3.3155',
 'Date': '6/14/2017',
 'DateTimeUTC': '2017-06-14 14:37:00 UTC+0000',
 'Name': 'USD/BRL',
 'Rate': '3.3155',
 'Time': '10:37am',
 'id': 'USDBRL'}

In [69]:
curr.get_rate()

'3.3155'

In [70]:
web

In [74]:
web.DataReader('DEXBZUS', 'fred')

            DEXBZUS
DATE
2010-01-01      NaN
2010-01-04   1.7200
2010-01-05   1.7296
2010-01-06   1.7292
2010-01-07   1.7409
2010-01-08   1.7342
2010-01-11   1.7330
2010-01-12   1.7407
2010-01-13   1.7480
2010-01-14   1.7684
2010-01-15   1.7681
2010-01-18      NaN
2010-01-19   1.7767
2010-01-20   1.7920
2010-01-21   1.8021
2010-01-22   1.8210
2010-01-25   1.8200
2010-01-26   1.8466
2010-01-27   1.8529
2010-01-28   1.8525
2010-01-29   1.8755
2010-02-01   1.8645
2010-02-02   1.8325
2010-02-03   1.8507
2010-02-04   1.8865
2010-02-05   1.8845
2010-02-08   1.8648
2010-02-09   1.8450
2010-02-10   1.8575
2010-02-11   1.8551
...             ...
2017-05-01   3.1760
2017-05-02   3.1685
2017-05-03   3.1443
2017-05-04   3.1823
2017-05-05   3.1703
2017-05-08   3.2003
2017-05-09   3.1818
2017-05-10   3.1531
2017-05-11   3.1494
2017-05-12   3.1207
2017-05-15   3.1049
2017-05-16   3.0903
2017-05-17   3.1015
2017-05-18   3.3823
2017-05-19   3.2745
2017-05-22   3.2952
2017-05-23   3.2729
2017-05-24   3.2747
2017-05-25   3.2880
2017-05-26   3.2575
2017-05-29      NaN
2017-05-30   3.2651
2017-05-31   3.2405
2017-06-01   3.2398
2017-06-02   3.2391
2017-06-05   3.2896
2017-06-06   3.2813
2017-06-07   3.2790
2017-06-08   3.2822
2017-06-09   3.2793

[1941 rows x 1 columns]

In [75]:
from pandas_datareader.oanda import get_oanda_currency_historical_rates

In [76]:
start, end = "2016-01-01", "2016-06-01"

In [77]:
quote_currency = "USD"

In [82]:
base_currency = "EUR"

In [83]:
df_rates = get_oanda_currency_historical_rates(
            start, end,
            quote_currency=quote_currency,
            base_currency=base_currency
        )

Error: ',' expected after '"'